main {
	border: 0.5rem solid black;
	text-align: center;
	background-image: url('../../marble.png');
	background-size: cover;
	height: 100vh;
}

.rectangle {
	background-color:rgba(7, 7, 7, 0.253);

}